<h1 class="popular_three">What's popular!</h1>

<h1 class="all_projects">All projects</h1>


<ul>
  <% @projects.each do |project| %>
    <%= link_to project.name, project_path(project) %>
  <% end %>
</ul>
