<h1 class="popular_three">What's popular!</h1>

<div class="projects">


  <h1 class="all_projects">All projects</h1>


    <p><u>
      See projects by Category
    </p></u>

    <p id="art" class="category" data-category="Art">
      Art
    </p>
    <div id="Artdiv">

    </div>

    <p id="tech" class="category" data-category="Tech">
      Tech
    </p>

    <p id="nature" class="category" data-category="Nature">
      Nature
    </p><br>

  <ul>
    <% @projects.each do |project| %>
      <%= link_to project.name, project_path(project) %>
    <% end %>
  </ul>

<br>
<br>
<p>
  Here are projects sorted by selected categories (if you clicked!)
</p>
  <div id="Naturediv" class="Catdiv">

  </div>
</div>
