<h1>All projects</h1>

<%= link_to 'New Project', new_project_path %>
<%= link_to 'Sign up', new_user_path %>

<ul>
  <% @projects.each do |project| %>
    <%= link_to project.name, project_path(project) %>
  <% end %>
</ul>
